<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ArWeeklyBlog · Phoenix Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <img src="<%= Routes.static_path(@conn, "/images/ar-weekly-logo.png") %>" alt="AR Weekly Logo">
    </header>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer>
      <a href="http://google.com">Unsubscribe</a>&nbsp;&nbsp;
            |&nbsp;&nbsp;<a href="http://google.com">Privacy Policy</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://google.com"
              >hello@ar-weekly.blog</a
            >
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
