<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
      }
      table {
        max-width: 600px;
        padding: 0 12px 24px 12px;
        margin-left: auto;
        margin-right: auto;
      }
      tr {
        text-align: left;
      }
      hr {
        color: #2c3e50;
      }
      a {
        color: #ca3827;
      }
      a:link {
        color: #ca3827;
      }
      a:visited {
        color: #4c6259;
      }
      a:hover {
        color: #ca3827;
      }
      a:active {
        color: #ca3827;
      }
      .article-title {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #2c3e50;
      }
      .text-centered {
        text-align: center;
      }
      .pb-s {
        padding-bottom: 12px;
      }
      .pb-m {
        padding-bottom: 24px;
      }
      .pb-l {
        padding-bottom: 48px;
      }
      .pb-xl {
        padding-bottom: 56px;
      }
      .color-main {
        color: #2c3e50;
      }
      .font-s {
        font-size: 12px;
      }
    </style>
    <title>AR Weekly</title>
  </head>
  <body>
    <table class="text-centered">
      <tbody>
        <tr>
          <td class="text-centered">
            <img
              src="<%= @logo_url %>"
              alt="AR Weekly"
              width="100px"
              height="100px"
            />
          </td>
        </tr>
        <tr>
          <td class="text-centered font-s pb-xl">
            Issue #<%= @issue_number %>, <%= Timex.format!(@issue_date, "{D} {Mfull} {YYYY}") %>
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Hello guys! This digest covers Augmented Reality related news between <%= Timex.format!(@issue_date_from, "{D} {Mfull}") %> and <%= Timex.format!(@issue_date_to, "{D} {Mfull}") %>. Enjoy!
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              For AR to Succeed, the Internet Infrastructure has to Evolve
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Pokemon Go, the AR game that launched to mass hysteria in summer 2016, showed the limitations of the current internet infrastructure for AR. 5G, dedicated AR clouds, distributed micro data center, are some of the possible solutions.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://venturebeat.com/2019/01/26/internet-infrastructure-isnt-ready-for-the-ar-cloud-but-thats-changing")) %>'
              >https://venturebeat.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Where Smartglasses Really Shine
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            The first few iterations of smartglasses won't be a game changer for consumers. But to factory workers or shop owners they provide real value.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://nymag.com/intelligencer/2019/01/smart-glasses-arent-on-the-streets-theyre-in-factories.html")) %>'
              >https://nymag.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Indoor navigation will get a lot better with Bluetooth 5.1
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Bluetooth 5.1 adds precision location, offers beacons for indoor navigation and more AR experiences.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/bluetooth-5-1-adds-precision-location-offers-beacons-for-indoor-navigation-more-augmented-reality-experiences-0193089")) %>'
              >https://next.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Game Developer Conference: 2019 State of the Game Industry
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            While this report is about the gaming industry, current and future gaming trends, it also covers the state of AR and VR in gaming. Requires a free sign up.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "http://reg.gdconf.com/GDC-State-of-Game-Industry-2019")) %>'
              >http://gdconf.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              iPhone 2019 AR Superpowers
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Two articles outlining the AR features the 2019 iPhone might get.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/apple-rumor-mill-cranks-back-up-with-reports-next-iphones-using-new-camera-sensors-for-ar-0193171")) %>'
              >https://next.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-s">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://slate.com/technology/2019/01/2019-apple-iphone-rumors-camera-appearance-pencil.html")) %>'
              >https://slate.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Suggestions or comments are more than welcome! Just reply to this
            email.
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Thanks for reading<br />
            <span class="color-main"><strong>AR</strong>&nbsp;Weekly</span>
          </td>
        </tr>
        <tr>
          <td class="pb-m font-s">
            You receive this Email because you are subscribed to the AR Weekly
            Blog. Your next delivery is on <%= Timex.format!(@next_issue_date, "{D} {Mfull} {YYYY}") %>.
          </td>
        </tr>
        <tr>
          <td class="font-s">
            <a href="<%= @unsubscribe_url %>">Unsubscribe</a>&nbsp;&nbsp;
            |&nbsp;&nbsp;<a href="<%= @privacy_url %>">Privacy Policy</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:hello@ar-weekly.blog">hello@ar-weekly.blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/Domeee/ar-weekly">Source Code @ GitHub</a>
          </td>
        </tr>
      </tbody>
    </table>
    <img width="1px" height="1px" src="<%= @issue_tracking_url %>" alt="">
  </body>
</html>
