<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
      }
      table {
        max-width: 600px;
        padding: 0 12px 24px 12px;
        margin-left: auto;
        margin-right: auto;
      }
      tr {
        text-align: left;
      }
      hr {
        color: #2c3e50;
      }
      a {
        color: #ca3827;
      }
      a:link {
        color: #ca3827;
      }
      a:visited {
        color: #4c6259;
      }
      a:hover {
        color: #ca3827;
      }
      a:active {
        color: #ca3827;
      }
      .article-title {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #2c3e50;
      }
      .text-centered {
        text-align: center;
      }
      .pb-s {
        padding-bottom: 12px;
      }
      .pb-m {
        padding-bottom: 24px;
      }
      .pb-l {
        padding-bottom: 48px;
      }
      .pb-xl {
        padding-bottom: 56px;
      }
      .color-main {
        color: #2c3e50;
      }
      .font-s {
        font-size: 12px;
      }
    </style>
    <title>AR Weekly</title>
  </head>
  <body>
    <table class="text-centered">
      <tbody>
        <tr>
          <td class="text-centered">
            <img
              src="<%= @logo_url %>"
              alt="AR Weekly"
              width="100px"
              height="100px"
            />
          </td>
        </tr>
        <tr>
          <td class="text-centered font-s pb-xl">
            Issue #<%= @issue_number %>, <%= Timex.format!(@issue_date, "{D} {Mfull} {YYYY}") %>
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Hello guys! This digest covers Augmented Reality related news between <%= Timex.format!(@issue_date_from, "{D} {Mfull}") %> and <%= Timex.format!(@issue_date_to, "{D} {Mfull}") %>. Enjoy!
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Google Glass Enterprise Edition 2 Released
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Less than two years after the first release of the Google Glass Enterprise Edition, Google released the second edition. The device runs on Android Oreo and thus opens up to a large community of Android developers. The glasses are powered by Qualcomm's Snapdragon XR1 chipset, which makes the device more energy efficient, improves performance, and provides a dedicated AI engine for machine learning and computer vision processing. The device costs $999.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://venturebeat.com/2019/05/20/google-glass-enterprise-edition-2-levels-up-with-qualcomms-xr1-and-smith-frames")) %>'
              >https://venturebeat.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              AR Headsets Not Fit For High-Precision Manual Tasks
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            A recent study concludes that users wearing an optical see-through (OST) head-mounted display (HMD), in this case a HoloLens, completed high-precision tasks with a significantly higher error rate. Furthermore test subjects experienced more fatigue during the AR-guided tasks. These results can be traced back to a phenomenon called "focal rivalry", in which the eyes cannot focus on virtual and real objects simultaneously. While this is a step back for AR use cases like AR-assisted surgery, the research team carries on and hopes to find alternative solutions like hybrid AR systems.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://spectrum.ieee.org/tech-talk/biomedical/devices/ar-pitfalls-our-eyes-struggle-to-focus-on-virtual-and-real-objects-simultaneously")) %>'
              >https://spectrum.ieee.org</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Interior Decorator Modsy Raises $37 Million
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Modsy offers interior decoration based on 360 degrees photo-analysis. Users document the room to be redesigned with photos and complete a style quiz. Modsy processes the data and provides the user with a virtual design plan, 3D style editor, and access to designers. According to Modsy, over two million shoppable room renders were created since its launch in 2015.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://venturebeat.com/2019/05/21/modsy-raises-37-million-for-shoppable-3d-room-remodeling")) %>'
              >https://venturebeat.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Smartglasses Producer North Raises $40 Million And Delivers Next Software Update
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            A report claims that North just received another $40 million from Amazon, Fidelity, and Intel to fullfil its vision of fashionable, mainstream smartglasses. In the meantime the software was updated to include activity tracking with Google Fit, a conversation detection mode to hide all notifications while speaking with someone, and Google Slides, which can be used as a mini teleprompter.
          </td>
        </tr>
        <tr>
          <td class="pb-s">
          Source Software Update:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/north-focals-smartglasses-update-adds-google-fit-google-slides-distraction-free-mode-0197966")) %>'
              >https://next.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source Funding:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/smartglasses-startup-north-secures-40-million-new-funding-report-says-0197844")) %>'
              >https://next.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              One Billion Visual Searches With Google
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Visual search is considered to be one of the most promising AR cases. Google Lens recognizes over a billion products and according to ARtillery Intelligence, $6.1 billion in annual transaction value will flow through AR interfaces by 2022. In a current article about new visual features in Search and Lens, Google mentions that users already asked over a billion questions about things they see. Check out the interesting new features in the following article.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://www.blog.google/products/search/helpful-new-visual-features-search-lens-io")) %>'
              >https://www.blog.google</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Stanford Study Shows That AR Affects People's Behavior In The Real World
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Test subjects wearing an AR headset were having a conversation with an avatar sitting on one of two available seats. After ending the conversation and taking off the headset, the test subjects were asked to sit on one of the two chairs. None of the participans sat on the chair on which the avatar was sitting during their AR-session. The research team concluded that these findings only scratch the surface of the social-psychological costs and benefits of AR use.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://news.stanford.edu/2019/05/14/augmented-reality-affects-peoples-behavior-real-world")) %>'
              >https://news.stanford.edu</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Suggestions or comments are more than welcome! Just reply to this
            email.
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Thanks for reading<br />
            <span class="color-main"><strong>AR</strong>&nbsp;Weekly</span>
          </td>
        </tr>
        <tr>
          <td class="pb-m font-s">
            You receive this Email because you are subscribed to the AR Weekly
            Blog. Your next delivery is on <%= Timex.format!(@next_issue_date, "{D} {Mfull} {YYYY}") %>.
          </td>
        </tr>
        <tr>
          <td class="font-s">
            <a href="<%= @unsubscribe_url %>">Unsubscribe</a>&nbsp;&nbsp;
            |&nbsp;&nbsp;<a href="<%= @privacy_url %>">Privacy Policy</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:hello@ar-weekly.blog">hello@ar-weekly.blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/Domeee/ar-weekly">Source Code @ GitHub</a>
          </td>
        </tr>
      </tbody>
    </table>
    <img width="1px" height="1px" src="<%= @issue_tracking_url %>" alt="">
  </body>
</html>
