<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
      }
      table {
        max-width: 600px;
        padding: 0 12px 24px 12px;
        margin-left: auto;
        margin-right: auto;
      }
      tr {
        text-align: left;
      }
      hr {
        color: #2c3e50;
      }
      a {
        color: #ca3827;
      }
      a:link {
        color: #ca3827;
      }
      a:visited {
        color: #4c6259;
      }
      a:hover {
        color: #ca3827;
      }
      a:active {
        color: #ca3827;
      }
      .article-title {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #2c3e50;
      }
      .text-centered {
        text-align: center;
      }
      .pb-s {
        padding-bottom: 12px;
      }
      .pb-m {
        padding-bottom: 24px;
      }
      .pb-l {
        padding-bottom: 48px;
      }
      .pb-xl {
        padding-bottom: 56px;
      }
      .color-main {
        color: #2c3e50;
      }
      .font-s {
        font-size: 12px;
      }
    </style>
    <title>AR Weekly</title>
  </head>
  <body>
    <table class="text-centered">
      <tbody>
        <tr>
          <td class="text-centered">
            <img
              src="<%= @logo_url %>"
              alt="AR Weekly"
              width="100px"
              height="100px"
            />
          </td>
        </tr>
        <tr>
          <td class="text-centered font-s pb-xl">
            Issue #<%= @issue_number %>, <%= Timex.format!(@issue_date, "{D} {Mfull} {YYYY}") %>
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Hello guys! This digest covers Augmented Reality related news between <%= Timex.format!(@issue_date_from, "{D} {Mfull}") %> and <%= Timex.format!(@issue_date_to, "{D} {Mfull}") %>. Enjoy!
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Five Rules for AR Glasses
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            The following article presents a short summary of a talk given by Kopin CEO John Fan at this years ARIA conference. His five rules for a successful AR experience are: Human-first, don't overwhelm the senses, maintain situational awareness, voice is the new touch, and balance purpose-built design with benefits.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://arinsider.co/2019/04/12/xr-talks-five-rules-for-ar")) %>'
              >https://arinsider.co</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              AR Based Indoor Navigation
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Computer vision startup Dent Reality has developed a SDK that enables businesses to integrate AR into indoor maps. The technology uses computer vision and artificial intelligence to orient within indoor space. It provides greater accuracy than GPS without the use of additional hardware.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/computer-vision-startup-dent-reality-offers-sdk-create-ar-navigation-apps-for-malls-airports-0196044")) %>'
              >https://next.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              HoloLens 2 Hands Tracking Demo
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Besides the larger field of view, the improved hands tracking is the most anticipated feature of the HoloLens 2. The following article walks through some demos that were released over the weekend by Microsoft.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://hololens.reality.news/news/magic-microsofts-hololens-2-hand-interaction-display-mixed-reality-toolkit-v2-demo-video-0195899")) %>'
              >https://hololens.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              The State of AR in Porn
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            The adult industry is known to be a driving force in the innovation of internet technology. Industry experts estimate that more than 50% of all VR content is porn-related. While the potential seems to be at least as big in AR porn, there are just a few startups tipping their toes in the market. With the advancement in technology and a market valuation of \$61.39 billion by 2023, it's just a matter of time until we see more players in the field. The following article does include some sexy pictures but no porn. If that doesn't offend you, feel free to proceed to the article with the following link.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://skarredghost.com/2019/04/12/status-of-augmented-reality-ar-porn")) %>'
              >https://skarredghost.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Suggestions or comments are more than welcome! Just reply to this
            email.
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Thanks for reading<br />
            <span class="color-main"><strong>AR</strong>&nbsp;Weekly</span>
          </td>
        </tr>
        <tr>
          <td class="pb-m font-s">
            You receive this Email because you are subscribed to the AR Weekly
            Blog. Your next delivery is on <%= Timex.format!(@next_issue_date, "{D} {Mfull} {YYYY}") %>.
          </td>
        </tr>
        <tr>
          <td class="font-s">
            <a href="<%= @unsubscribe_url %>">Unsubscribe</a>&nbsp;&nbsp;
            |&nbsp;&nbsp;<a href="<%= @privacy_url %>">Privacy Policy</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:hello@ar-weekly.blog">hello@ar-weekly.blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/Domeee/ar-weekly">Source Code @ GitHub</a>
          </td>
        </tr>
      </tbody>
    </table>
    <img width="1px" height="1px" src="<%= @issue_tracking_url %>" alt="">
  </body>
</html>
