<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
      }
      table {
        max-width: 600px;
        padding: 0 12px 24px 12px;
        margin-left: auto;
        margin-right: auto;
      }
      tr {
        text-align: left;
      }
      hr {
        color: #2c3e50;
      }
      a {
        color: #ca3827;
      }
      a:link {
        color: #ca3827;
      }
      a:visited {
        color: #4c6259;
      }
      a:hover {
        color: #ca3827;
      }
      a:active {
        color: #ca3827;
      }
      .article-title {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #2c3e50;
      }
      .text-centered {
        text-align: center;
      }
      .pb-s {
        padding-bottom: 12px;
      }
      .pb-m {
        padding-bottom: 24px;
      }
      .pb-l {
        padding-bottom: 48px;
      }
      .pb-xl {
        padding-bottom: 56px;
      }
      .color-main {
        color: #2c3e50;
      }
      .font-s {
        font-size: 12px;
      }
    </style>
    <title>AR Weekly</title>
  </head>
  <body>
    <table class="text-centered">
      <tbody>
        <tr>
          <td class="text-centered">
            <img
              src="<%= @logo_url %>"
              alt="AR Weekly"
              width="100px"
              height="100px"
            />
          </td>
        </tr>
        <tr>
          <td class="text-centered font-s pb-xl">
            Issue #<%= @issue_number %>, <%= Timex.format!(@issue_date, "{D} {Mfull} {YYYY}") %>
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Hello guys! This digest covers Augmented Reality related news between <%= Timex.format!(@issue_date_from, "{D} {Mfull}") %> and <%= Timex.format!(@issue_date_to, "{D} {Mfull}") %>. Enjoy!
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Google's Software-Based Approach to Hand Tracking
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Current state of the art devices like HoloLens 2 and Magic Leap One rely on dedicated depth and motion sensors for hand tracking. Last week Google previewed a research project that implements software based hand tracking. The technology relies on three distinct machine learning models - a palm detector model, a hand landmark model, and a gesture recognizer. The software-based approach is particularly interesting for smartglasses where the weight and battery life requirements are very high.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://ai.googleblog.com/2019/08/on-device-real-time-hand-tracking-with.html")) %>'
              >https://ai.googleblog.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Audio AR Emerges as a Sub-Theme in AR Gaming
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Although the hardware landscape ist still very limited at the moment, there are several interesting games in the making. Sonic Samurai by Happy Giant places the user in the middle of a samurai fight guided by audio clues. Unscramble the Oracle by XEODesign is an interactive audiobook and War of the Worlds by Quirkeley is part podcast and part game leading the user through an escape from aliens via audio signals.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://arinsider.co/2019/08/21/audio-ar-emerges-discussions-with-developers")) %>'
              >https://arinsider.co</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Web-based AR Framework 8th Wall Update
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Release 12 increases the limit for image targets per project to 1,000 images. Of those 1,000 image targets, a project may scan for up to 10 images concurrently. Furthermore the front-facing camera can be used for image target detection from now on. Further updates are the supported integration of 8th Wall projects in the web-based game engine PlayCanvas and the self-serve controls for commercial campaigns.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://medium.com/8th-wall/release-12-endless-image-targets-a-playcanvas-integration-new-launch-controls-more-b4f0283f9397")) %>'
              >https://medium.com/8th-wall</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Augmented World Expo (AWE) 2019 Session Videos
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            A while back the AWE team released a list of suggested videos from each track of the conference. The list is available in the linked article.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://www.awexr.com/blog/97-awe-usa-2019-suggested-videos-from-each-track")) %>'
              >https://www.awexr.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Suggestions or comments are more than welcome! Just reply to this
            email.
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Thanks for reading<br />
            <span class="color-main"><strong>AR</strong>&nbsp;Weekly</span>
          </td>
        </tr>
        <tr>
          <td class="pb-m font-s">
            You receive this Email because you are subscribed to the AR Weekly
            Blog. Your next delivery is on <%= Timex.format!(@next_issue_date, "{D} {Mfull} {YYYY}") %>.
          </td>
        </tr>
        <tr>
          <td class="font-s">
            <a href="<%= @unsubscribe_url %>">Unsubscribe</a>&nbsp;&nbsp;
            |&nbsp;&nbsp;<a href="<%= @privacy_url %>">Privacy Policy</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:hello@ar-weekly.blog">hello@ar-weekly.blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/Domeee/ar-weekly">Source Code @ GitHub</a>
          </td>
        </tr>
      </tbody>
    </table>
    <img width="1px" height="1px" src="<%= @issue_tracking_url %>" alt="">
  </body>
</html>
