<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
      }
      table {
        max-width: 600px;
        padding: 0 12px 24px 12px;
        margin-left: auto;
        margin-right: auto;
      }
      tr {
        text-align: left;
      }
      hr {
        color: #2c3e50;
      }
      a {
        color: #ca3827;
      }
      a:link {
        color: #ca3827;
      }
      a:visited {
        color: #4c6259;
      }
      a:hover {
        color: #ca3827;
      }
      a:active {
        color: #ca3827;
      }
      .article-title {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #2c3e50;
      }
      .text-centered {
        text-align: center;
      }
      .pb-s {
        padding-bottom: 12px;
      }
      .pb-m {
        padding-bottom: 24px;
      }
      .pb-l {
        padding-bottom: 48px;
      }
      .pb-xl {
        padding-bottom: 56px;
      }
      .color-main {
        color: #2c3e50;
      }
      .font-s {
        font-size: 12px;
      }
    </style>
    <title>AR Weekly</title>
  </head>
  <body>
    <table class="text-centered">
      <tbody>
        <tr>
          <td class="text-centered">
            <img
              src="<%= @logo_url %>"
              alt="AR Weekly"
              width="100px"
              height="100px"
            />
          </td>
        </tr>
        <tr>
          <td class="text-centered font-s pb-xl">
            Issue #<%= @issue_number %>, <%= Timex.format!(@issue_date, "{D} {Mfull} {YYYY}") %>
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Hello guys! This digest covers Augmented Reality related news between <%= Timex.format!(@issue_date_from, "{D} {Mfull}") %> and <%= Timex.format!(@issue_date_to, "{D} {Mfull}") %>. Enjoy!
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              HoloLens 2 Release Date Announcement
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Microsoft HoloLens 2 will start shipping in september. Pre-order the device <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://www.microsoft.com/en-us/hololens/buy")) %>'
              >here</a
            >.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://venturebeat.com/2019/08/29/microsoft-will-release-hololens-2-augmented-reality-headset-in-september")) %>'
              >https://venturebeat.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              How Magic Lines Fights Mobility Disorders with AR
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            The startup Magic Lines has found a solution to help dementia and parkinson patients walk again. Dementia causes the brain to stop certain brain receptors receiving or transmitting correct signals. In the case of mobility disorders, Magic Lines discovered, that by putting coloured lines on the floor the brain changes the neural pathways and allows muscle signs to go a different route. The startup built a Magic Leap based prototype and is currently looking for funding.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/magic-lines-works-restore-mobility-parkinsons-and-dementia-patients-through-ar-magic-leap-hololens-0204088")) %>'
              >https://next.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              6D.Ai Launches First Public AR Cloud
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            The AR cloud, a digital layer built on top of the world, is the platform on which future apps will run. 6D.Ai, one of the most promising forerunners besides Niantic, has just announced the public availability of its version of the AR cloud. The platform supplies spatial mapping to AR devices running on the Qualcomm Snapdragon XR1 chipset. Check out the article for a demo on how a room is mapped within seconds.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/6d-ai-launches-ar-cloud-supplies-3d-maps-nreal-light-qualcomm-snapdragon-devices-0204447")) %>'
              >https://next.reality.news/news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Oculus CTO John Carmack on the Current State of AR
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            When John Carmack speaks, I listen. The godfather of 3D game programming (lead programmer on Wolfenstein 3D, Doom, and Quake) joined Joe Rogan on his podcast for some serious tech talk. According to Carmack, companies in the AR space, particularly Magic Leap, have been underdelivering on their early hype. The main issue is that the technology still hasn't advanced to the point where AR glasses can be made small enough for people to wear all day.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/oculus-cto-john-carmack-outlines-future-ar-knocks-magic-leap-for-marketing-hype-new-interview-0204639")) %>'
              >https://next.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Building a Seamless AR Experience on the Web
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            When building AR apps for the masses, friction is on of the main problems. Users are not interested in downloading an app for every AR use case. That's where the web comes into play. In his blog, The Ghost Howls, Skarredghost describes how to implement an AR app that is easily accessible to the user by using web technologies like AR.js and Three.js.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://skarredghost.com/2019/08/29/how-to-seamless-mobile-ar-js")) %>'
              >https://skarredghost.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Suggestions or comments are more than welcome! Just reply to this
            email.
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Thanks for reading<br />
            <span class="color-main"><strong>AR</strong>&nbsp;Weekly</span>
          </td>
        </tr>
        <tr>
          <td class="pb-m font-s">
            You receive this Email because you are subscribed to the AR Weekly
            Blog. Your next delivery is on <%= Timex.format!(@next_issue_date, "{D} {Mfull} {YYYY}") %>.
          </td>
        </tr>
        <tr>
          <td class="font-s">
            <a href="<%= @unsubscribe_url %>">Unsubscribe</a>&nbsp;&nbsp;
            |&nbsp;&nbsp;<a href="<%= @privacy_url %>">Privacy Policy</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:hello@ar-weekly.blog">hello@ar-weekly.blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/Domeee/ar-weekly">Source Code @ GitHub</a>
          </td>
        </tr>
      </tbody>
    </table>
    <img width="1px" height="1px" src="<%= @issue_tracking_url %>" alt="">
  </body>
</html>
