<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
      }
      table {
        max-width: 600px;
        padding: 0 12px 24px 12px;
        margin-left: auto;
        margin-right: auto;
      }
      tr {
        text-align: left;
      }
      hr {
        color: #2c3e50;
      }
      a {
        color: #ca3827;
      }
      a:link {
        color: #ca3827;
      }
      a:visited {
        color: #4c6259;
      }
      a:hover {
        color: #ca3827;
      }
      a:active {
        color: #ca3827;
      }
      .article-title {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #2c3e50;
      }
      .text-centered {
        text-align: center;
      }
      .pb-s {
        padding-bottom: 12px;
      }
      .pb-m {
        padding-bottom: 24px;
      }
      .pb-l {
        padding-bottom: 48px;
      }
      .pb-xl {
        padding-bottom: 56px;
      }
      .color-main {
        color: #2c3e50;
      }
      .font-s {
        font-size: 12px;
      }
    </style>
    <title>AR Weekly</title>
  </head>
  <body>
    <table class="text-centered">
      <tbody>
        <tr>
          <td class="text-centered">
            <img
              src="<%= @logo_url %>"
              alt="AR Weekly"
              width="100px"
              height="100px"
            />
          </td>
        </tr>
        <tr>
          <td class="text-centered font-s pb-xl">
            Issue #<%= @issue_number %>, <%= Timex.format!(@issue_date, "{D} {Mfull} {YYYY}") %>
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Hello guys! This digest covers Augmented Reality related news between <%= Timex.format!(@issue_date_from, "{D} {Mfull}") %> and <%= Timex.format!(@issue_date_to, "{D} {Mfull}") %>. Enjoy!
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Web-Based AR is Gaining Traction
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Both Blippar and Zappar add WebAR capabilities to their existing frameworks. Meanwhile Toyota is rolling out a web-based AR advertising campaign based on 8th Wall, the current leader in web-based AR technology.
          </td>
        </tr>
        <tr>
          <td class="pb-s">
          Source for Blibbar:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://mobile-ar.reality.news/news/blippar-bounces-back-with-web-based-ar-platform-0198731")) %>'
              >https://mobile-ar.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-s">
          Source for Zappar:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://www.zappar.com/blog/introducing-zappar-mobile-webar")) %>'
              >https://www.zappar.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source for Toyota:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://mobile-ar.reality.news/news/toyota-rolls-out-web-based-ar-advertising-campaign-via-8th-wall-0198696")) %>'
              >https://mobile-ar.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Takeaways from Augmented World Expo
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Our last issue covered the top three announcements from AWE, one of the most important conferences for AR. With the following article, Charlie Fink, renowned AR book autor, provides much more insights.
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://www.forbes.com/sites/charliefink/2019/06/02/tomorrows-tech-today-takeaways-from-augmented-world-expo-2019/#570259bc27e6")) %>'
              >https://www.forbes.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Smartglasses Based Law Enforcement Solution
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            NNTC Face Recognition Solutions is partnering with Vuzix to build a portable face recognition solution. Wearing a pair of Vuzix's smartglasses combined with a portable computer pack and the iFalcon Face Control Mobile system, users can identify up to 15 faces per video frame. The solution is targeted at police and security officers. George Orwell says hello...
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://next.reality.news/news/vuzix-blade-teams-with-facial-recognition-company-provide-law-enforcement-solution-0198646")) %>'
              >https://next.reality.news</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-m">
            <h1 class="article-title">
              Altoida raises $6.3 Million to Fight Alzheimer's with AR/VR
            </h1>
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            A quote from the article couldn't summarize better, why Altoida just raised a lot of money: "By observing precisely how a patient interacts with virtual objects and augmented reality, Altoida aims to provide a set of digital biomarkers that can track the health of the brain and spot the signs of Alzheimer’s disease before symptoms become apparent." A wonderful application of Artificial Intelligence, Machine Learning, and AR/VR - well done!
          </td>
        </tr>
        <tr>
          <td class="pb-l">
          Source:
          <a href='<%= ArWeeklyWeb.Router.Helpers.page_url(ArWeeklyWeb.Endpoint, :track_issue_link, ArWeekly.EmailService.arweekly_encode(to_string(@issue_number) <> "@@" <> @subscriber_email <> "@@" <> "https://www.fiercebiotech.com/medtech/altoida-raises-6-3m-to-provide-digital-alzheimer-s-biomarkers-augmented-reality")) %>'
              >https://www.fiercebiotech.com</a
            >
          </td>
        </tr>
        <tr>
          <td class="pb-s">
            Suggestions or comments are more than welcome! Just reply to this
            email.
          </td>
        </tr>
        <tr>
          <td class="pb-xl">
            Thanks for reading<br />
            <span class="color-main"><strong>AR</strong>&nbsp;Weekly</span>
          </td>
        </tr>
        <tr>
          <td class="pb-m font-s">
            You receive this Email because you are subscribed to the AR Weekly
            Blog. Your next delivery is on <%= Timex.format!(@next_issue_date, "{D} {Mfull} {YYYY}") %>.
          </td>
        </tr>
        <tr>
          <td class="font-s">
            <a href="<%= @unsubscribe_url %>">Unsubscribe</a>&nbsp;&nbsp;
            |&nbsp;&nbsp;<a href="<%= @privacy_url %>">Privacy Policy</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:hello@ar-weekly.blog">hello@ar-weekly.blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/Domeee/ar-weekly">Source Code @ GitHub</a>
          </td>
        </tr>
      </tbody>
    </table>
    <img width="1px" height="1px" src="<%= @issue_tracking_url %>" alt="">
  </body>
</html>
