<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AR Weekly</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= Routes.static_path(@conn, "/images/favicon-96x96.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://piwik.donhubi.ch/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '8']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://piwik.donhubi.ch/piwik.php?idsite=8&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
  </head>
  <body>
    <noscript>
      <!-- Matomo Image Tracker-->
      <img src="https://piwik.donhubi.ch/piwik.php?idsite=8&amp;rec=1&amp;action_name=AR+Weekly" style="border:0" alt="" />
      <!-- End Matomo -->
    </noscript>
    <header>
      <a href="/">
        <img width="125px" src="<%= Routes.static_path(@conn, "/images/ar-weekly-logo.png") %>" alt="AR Weekly Logo">
      </a>
    </header>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer>
      <a href="/privacy">Privacy Policy</a
            >&nbsp;&nbsp;|&nbsp;&nbsp; <a href="mailto:hello@ar-weekly.blog">hello@ar-weekly.blog</a>|&nbsp;&nbsp; <a href="https://github.com/Domeee/ar-weekly">Source Code @ GitHub</a>
            >
    </footer>
  </body>
</html>
