html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.9);
}

body {
  font-size: 1.6rem;
  line-height: 3.2rem;
  padding: 4rem 0;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

footer {
  text-align: center;
  color: #fff;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #ca3827;
}

header {
  text-align: center;
  margin-bottom: 4rem;
}

header img {
  max-width: 200px;
}

.value-prop {
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.how-to {
  max-width: 512px;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.cta {
  margin-bottom: 8rem;
  font-size: 2rem;
}

.cta form {
  display: flex;
  justify-content: center;
}

.cta-input {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.cta-input-success {
  color: #608e83;
}

.cta-input-hidden {
  height: 0;
  width: 0;
}

.cta-input input {
  font: inherit;
  padding: 1rem 1rem;
  line-height: normal;
}

.cta-input span {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  color: #ca3827;
}

.cta-button button {
  background-color: #ca3827;
  border: 2px solid #ca3827;
  color: #fff;
  padding: 1rem 4rem;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  line-height: normal;
}

.cta-button button:hover,
button:focus {
  background-color: #e45241;
}
